/* src/styles/home.css */
.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    margin-inline: auto;
    overflow: hidden;
  }
  
  .letter-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40rem;
    line-height: 40rem;
    font-weight: 900;
    color: var(--primary-color);
  }
  
  .container img {
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
  }
  
  /* ... (continuar com os outros estilos específicos da Home) */